* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* get rid of the miserable chrome blue highlight */
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}
